In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [7]:
# let's look at 1 CSV as a sample for EDA since the dataset is potentially large
sample_df =  pd.read_csv("/Users/westonshuken/Documents/_2025/CitiBike/Data/citibike_tripdata_2022/202201-citibike-tripdata_1.csv", dtype={'start_station_id': str, 'end_station_id': str})

In [8]:
sample_df.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member

In [9]:
sample_df[sample_df['started_at'] < '2021-12-30']

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
84169,CF8ED4780FAA1EF9,classic_bike,2021-12-11 18:33:19.635,2022-01-26 21:15:35.459,Lafayette Ave & Ft Greene Pl,4470.09,Willoughby Ave & Myrtle Ave,4759.02,40.687002,-73.976650,40.697570,-73.930980,casual
134850,CEAF2F1FE0ECA8DA,classic_bike,2021-12-29 21:55:51.367,2022-01-16 07:54:43.256,Dwight St & Van Dyke St,3981.10,Dwight St & Van Dyke St,3981.10,40.673636,-74.011956,40.673636,-74.011956,casual
141753,84EA4DA50AC94A38,classic_bike,2021-09-13 10:30:02.129,2022-01-20 08:18:25.716,E 14 St & Avenue B,5736.09,58 St & 2 Ave - Brooklyn Army Terminal Vaccina...,3138.09,40.729387,-73.977724,40.644512,-74.021506,casual
148441,616AD1B99E0A9FCA,classic_bike,2021-12-23 14:23:13.370,2022-01-01 04:04:38.703,Central Ave & Himrod St,4713.01,Madison St & Evergreen Ave,4560.01,40.696760,-73.923020,40.691220,-73.916930,casual
243440,762AF476A6707984,classic_bike,2021-11-16 18:19:32.935,2022-01-19 12:26:16.063,Westchester Ave & Longwood Ave,7909.07,E Tremont Ave & Jerome Ave,8403.02,40.819701,-73.901311,40.851747,-73.908964,casual
316975,4C5F7C3A72E9B66B,classic_bike,2021-12-29 14:28:07.477,2022-01-04 19:35:41.163,Central Park West & W 68 St,7079.06,E 2 St & 2 Ave,5593.02,40.773407,-73.977825,40.725029,-73.990697,casual
360823,8BF20A472C20229F,classic_bike,2021-11-13 09:15:29.510,2022-01-03 08:24:16.684,Grand Concourse & E 164 St,8057.02,Fulton St & Pearl St,5024.09,40.829608,-73.921461,40.707722,-74.004386,casual
546228,5F7ED51B3E21F59C,classic_bike,2021-12-26 13:52:20.943,2022-01-25 08:06:05.702,W 52 St & 11 Ave,6926.01,8 Ave & W 49 St,6747.07,40.767272,-73.993929,40.761712,-73.986551,casual
573941,FCE5DE2CDB9B8541,classic_bike,2021-12-12 14:17:22.462,2022-01-19 11:43:45.792,Broadway & W 29 St,6289.06,E 1 St & 1 Ave,5593.01,40.746201,-73.988557,40.723356,-73.988650,casual
588513,4D62825A6FC8FB5C,classic_bike,2021-11-07 11:15:10.792,2022-01-16 00:59:11.717,Hazen St & 20 Ave,7032.06,Brook Ave & E 138 St,7707.08,40.772092,-73.895166,40.807408,-73.919240,casual
591634,2F298092D779509A,classic_bike,2021-07-22 11:49:56.126,2022-01-21 13:15:37.645,Stanton St & Norfolk St,5445.07,Pier 40 Dock Station,SYS035,40.720747,-73.986274,40.728660,-74.011980,casual
594744,008AFCDFDCFE96BD,classic_bike,2021-12-29 12:22:49.886,2022-01-15 22:24:04.119,57 St & 4 Ave,3093.07,Pier 40 Dock Station,SYS035,40.642622,-74.016866,40.728660,-74.011980,casual
692855,6243FE7CEA86B528,classic_bike,2021-12-04 14:45:50.572,2022-01-06 11:13:39.492,University Pl & E 8 St,5755.14,Ditmars Blvd & 43 St,7039.03,40.731437,-73.994903,40.771203,-73.903865,casual
725042,4F940ACFE545F23F,classic_bike,2021-12-04 11:54:05.293,2022-01-18 21:05:40.488,6 Ave & W 33 St,6364.07,Broadway\t& W 48 St,6708.04,40.749013,-73.988484,40.760177,-73.984868,casual
823704,E385DC2CD6FA2C18,classic_bike,2021-12-11 18:32:48.424,2022-01-14 17:13:06.652,Lafayette Ave & Ft Greene Pl,4470.09,NaN,NaN,40.687002,-73.976650,NaN,NaN,casual
825491,977627FA5BE40A14,classic_bike,2021-12-26 13:52:15.295,2022-01-25 08:19:37.522,W 52 St & 11 Ave,6926.01,NaN,NaN,40.767272,-73.993929,NaN,NaN,casual
828239,CB472D9541545D4A,classic_bike,2021-12-06 15:46:09.337,2022-01-15 12:39:04.550,5 Ave & E 103 St,7511.19,NaN,NaN,40.792255,-73.952499,NaN,NaN,casual
834230,44B9F7F72D645BED,classic_bike,2021-11-17 08:03:47.170,2022-01-14 17:30:51.678,Grand Concourse & E 144 St,7845.1,NaN,NaN,40.816870,-73.927985,NaN,NaN,casual
834778,218009D78518E321,classic_bike,2021-11-09 17:38:12.125,2022-01-15 11:39:13.470,Central Park North & Adam Clayton Powell Blvd,7617.07,NaN,NaN,40.799484,-73.955613,NaN,NaN,casual
835746,65606CD84B06CDAD,classic_bike,2021-11-17 08:04:18.658,2022-01-14 17:31:40.216,Grand Concourse & E 144 St,7845.1,NaN,NaN,40.816870,-73.927985,NaN,NaN,casual
840618,3ED3050B6B4D3665,classic_bike,2021-12-26 13:01:39.683,2022-01-06 07:36:21.054,Market St & Henry St,5270.09,NaN,NaN,40.713107,-73.994464,NaN,NaN,casual
841772,EE1C6469A1EA42C5,classic_bike,2021-12-14 15:10:14.052,2022-01-14 14:56:52.858,Sharon St & Olive St,5323.05,NaN,NaN,40.715353,-73.938560,NaN,NaN,casual
842930,DA14E2F38543A9FF,classic_bike,2021-12-28 12:17:45.393,2022-01-01 11:07:06.792,Southpoint Park,6566.01,NaN,NaN,40.753702,-73.958652,NaN,NaN,casual
908850,FC191E5F93478D8F,classic_bike,2021-12-29 21:14:45.546,2022-01-05 08:41:39.602,W 42 St & Dyer Ave,6644.07,Longfellow Ave & E 165 St,7983.04,40.758985,-73.993800,40.825322,-73.887729,casual

In [10]:
sample_df['started_at'] = pd.to_datetime(sample_df['started_at'])
sample_df = sample_df.groupby([pd.Grouper(key='started_at', freq='D'), sample_df['rideable_type']+sample_df['member_casual'],]).agg({'ride_id': ['count']})
sample_df = sample_df.reset_index()
sample_df.columns = [i[0] for i in sample_df.columns]
sample_df.sort_values('started_at')

    started_at              level_1  ride_id
0   2021-07-22   classic_bikecasual        1
1   2021-09-13   classic_bikecasual        1
2   2021-11-07   classic_bikecasual        1
3   2021-11-09   classic_bikecasual        1
4   2021-11-13   classic_bikecasual        1
..         ...                  ...      ...
140 2022-01-30  electric_bikecasual      677
143 2022-01-31   classic_bikemember    10844
144 2022-01-31  electric_bikecasual     1381
142 2022-01-31   classic_bikecasual      665
145 2022-01-31  electric_bikemember     8816

[146 rows x 3 columns]

In [11]:
# Daily Data Union for 2022 and 2023

path = ["/Users/westonshuken/Documents/_2025/CitiBike/Data/citibike_tripdata_2022", "/Users/westonshuken/Documents/_2025/CitiBike/Data/citibike_tripdata_2023"]

dfs = []

tick = 0

for i in path:
    print(i)
    for filename in os.listdir(i):
        tick += 1
        if filename.endswith('.csv'):
            file_path = os.path.join(i, filename)
            print("reading file: ", str(tick))
            df = pd.read_csv(file_path, dtype={'start_station_id': str, 'end_station_id': str})
            df['ended_at'] = pd.to_datetime(df['ended_at'])
            grouped_df = df.groupby([pd.Grouper(key='ended_at', freq='D'), df['rideable_type']+df['member_casual'],]).agg({'ride_id': ['count']})
            grouped_df = grouped_df.reset_index()
            grouped_df.columns = [i[0] for i in grouped_df.columns]
            dfs.append(grouped_df)
            #if tick >=1:
               #break

/Users/westonshuken/Documents/_2025/CitiBike/Data/citibike_tripdata_2022
reading file:  1
reading file:  2
reading file:  3
reading file:  4
reading file:  5
reading file:  6
reading file:  7
reading file:  8
reading file:  9
reading file:  10
reading file:  11
reading file:  12
reading file:  13
reading file:  14
reading file:  15
reading file:  16
reading file:  17
reading file:  18
reading file:  19
reading file:  20
reading file:  21
reading file:  22
reading file:  23
reading file:  24
reading file:  25
reading file:  26
reading file:  27
reading file:  28
reading file:  29
reading file:  30
reading file:  31
reading file:  32
reading file:  33
reading file:  34
reading file:  35
reading file:  36
/Users/westonshuken/Documents/_2025/CitiBike/Data/citibike_tripdata_2023
reading file:  37
reading file:  38
reading file:  39
reading file:  40
reading file:  41
reading file:  42
reading file:  43
reading file:  44
reading file:  45
reading file:  46
reading file:  47
reading file:  48
reading file:  49
reading file:  50
reading file:  51
reading file:  52
reading file:  53
reading file:  54
reading file:  55
reading file:  56
reading file:  57
reading file:  58
reading file:  59
reading file:  60
reading file:  61
reading file:  62
reading file:  63
reading file:  64
reading file:  65
reading file:  66
reading file:  67
reading file:  68
reading file:  69
reading file:  70
reading file:  71
reading file:  72
reading file:  73
reading file:  74
reading file:  75
reading file:  76

In [12]:
concat_df = pd.concat(dfs, ignore_index=True)

In [13]:
cols = {'ended_at': 'DATE', 'level_1': 'RIDE_TYPE', 'ride_id': 'RIDES'}
concat_df = concat_df.rename(columns=cols)
concat_df['DATE'] = pd.to_datetime(concat_df['DATE'])

In [14]:
concat_df[concat_df['DATE'] <= '2022-01-01']

           DATE            RIDE_TYPE  RIDES
3888 2022-01-01   classic_bikecasual     76
3889 2022-01-01   classic_bikemember    207
3890 2022-01-01  electric_bikecasual     89
3891 2022-01-01  electric_bikemember    156
4136 2022-01-01   classic_bikecasual   3286
4137 2022-01-01   classic_bikemember   8026
4138 2022-01-01  electric_bikecasual   3138
4139 2022-01-01  electric_bikemember   5785

In [15]:
concat_df.sort_values('DATE', inplace=True)

In [16]:
concat_df = concat_df.reset_index(drop=True)
concat_df

           DATE            RIDE_TYPE  RIDES
0    2022-01-01   classic_bikecasual   3286
1    2022-01-01  electric_bikecasual   3138
2    2022-01-01  electric_bikemember   5785
3    2022-01-01  electric_bikemember    156
4    2022-01-01  electric_bikecasual     89
...         ...                  ...    ...
9259 2023-12-31  electric_bikemember  11953
9260 2023-12-31  electric_bikemember  12081
9261 2023-12-31  electric_bikecasual   4008
9262 2023-12-31   classic_bikemember   6747
9263 2023-12-31   classic_bikecasual   1560

[9264 rows x 3 columns]

In [19]:
date_df = concat_df.groupby(['DATE','RIDE_TYPE']).sum('RIDES')
date_df = date_df.reset_index()
date_df.columns = [i for i in date_df.columns]
date_df

           DATE            RIDE_TYPE  RIDES
0    2022-01-01   classic_bikecasual   3362
1    2022-01-01   classic_bikemember   8233
2    2022-01-01  electric_bikecasual   3227
3    2022-01-01  electric_bikemember   5941
4    2022-01-02   classic_bikecasual   6671
...         ...                  ...    ...
2915 2023-12-30  electric_bikemember  27829
2916 2023-12-31   classic_bikecasual   3278
2917 2023-12-31   classic_bikemember  14833
2918 2023-12-31  electric_bikecasual   9009
2919 2023-12-31  electric_bikemember  26666

[2920 rows x 3 columns]

In [20]:
climate_df = pd.read_csv("/Users/westonshuken/Documents/_2025/CitiBike/climatedata.csv")

In [22]:
climate_df['DATE'] = pd.to_datetime(climate_df['DATE'])
climate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430 entries, 0 to 1429
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1430 non-null   datetime64[ns]
 1   PRCP    1430 non-null   float64
 2   SNOW    1430 non-null   float64
 3   TMAX    1430 non-null   float64
 4   TMIN    1430 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 56.0 KB

In [24]:
final_df = pd.merge(date_df, climate_df, on='DATE', how='left')

In [25]:
final_df.head()

        DATE            RIDE_TYPE  RIDES  PRCP  SNOW  TMAX  TMIN
0 2022-01-01   classic_bikecasual   3362  0.76   0.0  57.0  50.0
1 2022-01-01   classic_bikemember   8233  0.76   0.0  57.0  50.0
2 2022-01-01  electric_bikecasual   3227  0.76   0.0  57.0  50.0
3 2022-01-01  electric_bikemember   5941  0.76   0.0  57.0  50.0
4 2022-01-02   classic_bikecasual   6671  0.04   0.0  60.0  39.0

In [26]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       2920 non-null   datetime64[ns]
 1   RIDE_TYPE  2920 non-null   object
 2   RIDES      2920 non-null   int64
 3   PRCP       2920 non-null   float64
 4   SNOW       2920 non-null   float64
 5   TMAX       2920 non-null   float64
 6   TMIN       2920 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 159.8+ KB

In [27]:
final_df.to_csv('final_ml_data.csv', index=False)